/* All Comon Css Start  */
* {
  margin: 0;
  padding: 0;
}
/* All Comon Css End  */

body {
  background: #7f8c8d;
}
.containar {
  margin: 0 auto;
  width: 500px;
}
.box {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 60px;
  background: #ecf0f1;
  border-radius: 10px;
}
button {
  /* margin-top: 0px; */
  background: #4a69bd;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
samp {
  margin: 20px;
  background: #78e08f;
  color: #fff;
  padding: 2px 30px;
  font-size: 50px;
  border-radius: 10px;
}

#alartOne {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  width: 250px;
  margin-top: 20px;
  padding: 8px 5px;
  color: #fff;
  background: #f74747;
  border-radius: 20px;
}
#alartTwo {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  width: 250px;
  margin-top: 20px;
  padding: 8px 5px;
  color: #fff;
  background: #f74747;
  border-radius: 20px;
}

.boxTwo {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  padding: 60px;
  background: #ecf0f1;
  border-radius: 10px;
}

.flexBox{
   display: flex;
   justify-content: space-between;
}
.numberBox{
    width: 50px;
    padding: 8px;
    margin-top: 20px;
    background: #a20cf3;
    color: #fff;
    border-radius: 10px;
}